.activitiesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activityCard {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
}