.container {
    padding: 100px 20px 0 20px;
    position: relative;
}

.categoriesContainer {
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryCard {
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform .3s ease-in-out;
}

.categoryCard:hover {
    transform: scale(1.04);
}