.container {
    height: 100%;
    padding: 0 10px 0 20px;
    position: relative;
}

.categoriesContainer {
    width: 100%;
    height: 100%;
}

.categoryCard {
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform .3s ease-in-out;
}

.categoryCard:hover {
    transform: scale(1.04);
}